<header id="unalTop" style="z-index:100;">
   <div class="logo">
      <a href="http://unal.edu.co">
      <img alt="Escudo de la Universidad Nacional de Colombia" src="<%= image_url('unal/escudoUnal')%>" width="189" height="70" title="Escudo de la Universidad Nacional de Colombia"/>
      </a>
      <div class="diag">
      </div>
   </div>
   <div class="seal">
      <img alt="Escudo de la República de Colombia" src="<%= image_url('unal/sealColombia')%>" width="66" height="66" title="Escudo de la República de Colombia"/>
   </div>
   <div class="firstMenu">
      <ul class="socialLinks">
         <li><a href="https://www.youtube.com/user/faccienciashumanas" target="_blank" class="youtube" title="Canal oficial en YouTube"></a>
         <li><a href="https://twitter.com/humanasunal" target="_blank" class="twitter" title="Cuenta oficial en Twitter"></a>
         <li><a href="https://www.facebook.com/humanasunal" target="_blank" class="facebook" title="Página oficial en Facebook"></a>
      </ul>
      <div class="navbar-default">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
         </div>
      </div>
   </div>
   <div class="navigation">
      <div class="site-url">
         <div class="icon">
         </div>
         <a style="color:#FFF; text-decoration:none;"href="http://www.ingenieria.unal.edu.co">ingenieria.bogota.unal.edu.co</a>
      </div>
      <div class="navbar-">
         <div class="btn-group" style="float:right; margin-right: 100px;">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               Sedes<span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
               <li><a href="http://www.imani.unal.edu.co" target="_top">Amazonia</a></li>
               <li><a href="http://www.bogota.unal.edu.co" target="_top">Bogotá</a></li>
               <li><a href="http://www.caribe.unal.edu.co/CMS/" target="_top">Caribe</a></li>
               <li><a href="http://www.manizales.unal.edu.co" target="_top">Manizales</a></li>
               <li><a href="http://www.medellin.unal.edu.co" target="_top">Medellín</a></li>
               <li><a href="http://www.orinoquia.unal.edu.co" target="_top">Orinoquia</a></li>
               <li><a href="http://www.palmira.unal.edu.co" target="_top">Palmira</a></li>
               <li><a href="http://www.tumaco-pacifico.unal.edu.co" target="_top">Tumaco</a></li>
            </ul>
         </div>
         <!-- La facultad -->
         <div class="btn-group">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               Facultad<span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
               <li><a href="../../nuevo/facultad">La Facultad</a></li>
               <li class="dropdown-submenu">
                  <a href="../../nuevo/facultad/decanatura" class="dir">Decanatura</a>
                  <ul class="dropdown-menu">
                     <li><a href="../../nuevo/facultad/decanatura/decano">Decana</a></li>
                     <li><a href="../../nuevo/facultad/decanatura/actualidad">Actualidad</a></li>
                     <li><a href="../../nuevo/facultad/decanatura/contacto">Contacto</a></li>
                     <li><a href="../../nuevo/facultad/decanatura/informe-ejecutivo">Informe ejecutivo</a></li>
                  </ul>
               </li>
               <li class="dropdown-submenu">
                  <a href="../../nuevo/facultad/vicedecanatura-academica" class="dir">Vicedecanatura Acad&eacute;mica</a>
                  <ul class="dropdown-menu">
                     <li><a href="../../nuevo/facultad/vicedecanatura-academica/vicedecano">Vicedecana</a></li>
                     <li><a href="../../nuevo/facultad/vicedecanatura-academica/acreditacion-pregrado/" >Acreditación pregrado</a></li>
                     <li><a href="../../nuevo/facultad/vicedecanatura-academica/autoevaluacion-posgrado/" >Autoevaluación posgrado</a></li>
                     <li><a href="../../nuevo/facultad/vicedecanatura-academica/publicaciones-y-divulgaciones/" >Publicaciones y divulgaciones</a></li>
                     <li>
                        <a href="../../nuevo/facultad/areas-curriculares" class="dir">&Aacute;reas Curriculares</a>
                        <ul>
                           <li><a href="../../nuevo/facultad/areas-curriculares/filosofia-y-estudios-literarios">Filosof&iacute;a y Estudios Literarios</a></li>
                           <li><a href="../../nuevo/facultad/areas-curriculares/ciencias-del-lenguaje">Ciencias del Lenguaje</a></li>
                           <li><a href="../../nuevo/facultad/areas-curriculares/trabajo-social-y-estudios-sociales-interdisciplinarios/pregrado-trabajo-social//nuevo/facultad/areas-curriculares/trabajo-social-y-estudios-sociales-interdisciplinarios/pregrado-trabajo-social/">Trabajo Social y Estudios Sociales Interdisciplinarios</a></li>
                           <li><a href="../../nuevo/facultad/areas-curriculares/antropologia-sociologia-y-estudios-de-genero">Antropolog&iacute;a, Sociolog&iacute;a y Estudios de G&eacute;nero</a></li>
                           <li><a href="../../nuevo/facultad/areas-curriculares/geografia-e-historia">Geograf&iacute;a e Historia</a></li>
                           <li><a href="../../nuevo/facultad/areas-curriculares/psicologia-y-psicoanalisis/pregrado-psicologia">Psicolog&iacute;a y Psicoan&aacute;lisis</a></li>
                        </ul>
                     </li>
                     <li><a href="../../nuevo/facultad/vicedecanatura-academica/contacto/" >Contacto</a></li>
                  </ul>
               </li>
               <li class="dropdown-submenu" >
                  <a href="../../nuevo/facultad/investigacion" class="dir">Vicedecanatura de Investigaci&oacute;n y Extensi&oacute;n</a>
                  <ul class="dropdown-menu">
                     <li><a href="../../nuevo/facultad/investigacion/vicedecana/">Vicedecana</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/peec/">Programa de Extensión y Educación Continua</a></li>
                     <li><a href="../../nuevo/facultad/investigacion/coordinacion-de-proyectos-de-investigacion/">Coordinación de proyectos de investigación</a></li>
                     <li><a href="../../nuevo/facultad/investigacion/calendario/">Calendario</a></li>
                     <li><a href="../../nuevo/facultad/investigacion/contacto/">Contacto</a></li>
                  </ul>
               </li>
               <li class="dropdown-submenu">
                  <a href="../../nuevo/facultad/secretaria-academica" class="dir">Secretar&iacute;a de Facultad</a>
                  <ul class="dropdown-menu">
                     <li><a href="../../nuevo/facultad/secretaria-de-facultad/secretario-de-facultad/">Secretaria de Facultad</a></li>
                     <li><a href="../../nuevo/facultad/secretaria-de-facultad/actas/">Actas</a></li>
                  </ul>
               </li>
               <li><a href="../../nuevo/facultad/unidades-academicas-basicas">Unidades Acad&eacute;micas B&aacute;sicas</a></li>
               <li class="dropdown-submenu">
                  <a href="../../nuevo/facultad/comites" class="dir">Consejos y Comit&eacute;s</a>
                  <ul class="dropdown-menu">
                     <li><a href="../../nuevo/facultad/comites/consejo-de-facultad">Consejo de la Facultad</a></li>
                     <li><a href="../../nuevo/facultad/comites/comite-investigacion-extension">Comit&eacute; de  Investigaci&oacute;n y Extensi&oacute;n</a></li>
                     <li><a href="../../nuevo/facultad/comites/comite-areas-curriculares">Comit&eacute; de Directores de &Aacute;reas Curriculares</a></li>
                     <li><a href="../../nuevo/facultad/comites/preconsejo-asuntos-docentes">Preconsejo de Asuntos Docentes</a></li>
                     <li><a href="../../nuevo/facultad/comites/preconsejo-asuntos-estudiantiles">Preconsejo de Asuntos Estudiantiles</a></li>
                     <li><a href="../../nuevo/facultad/comites/comite-editorial">Comit&eacute; Editorial</a></li>
                  </ul>
               <li class="dropdown-submenu">
                  <a href="../../nuevo/gestion" class="dir">Gesti&oacute;n</a>
                  <ul class="dropdown-menu">
                     <li><a href="../../nuevo/gestion/unidad-administrativa">Unidad Administrativa</a></li>
                     <li><a href="../../nuevo/gestion/unidad-informatica-comunicaciones">Unidad de Inform&aacute;tica y Comunicaciones</a></li>
                     <li><a href="../../nuevo/gestion/edificio-de-posgrados-ciencias-humanas">Edificio de Posgrados</a></li>
                     <li><a href="http://www.sinab.unal.edu.co/?q=node/24">Biblioteca Ernesto Guhl</a></li>
                     <li><a href="../../nuevo/gestion/mapa-del-sitio">Mapa del sitio Web</a></li>
                     <li><a href="../../nuevo/gestion/mapa-de-la-facultad">Mapa de la Facultad</a></li>
                  </ul>
               </li>
               <li><a href="../../nuevo/facultad/docentes">Docentes</a></li>
               <li><a href="../../nuevo/facultad/programa-de-mejoramiento-continuo">Programa de mejoramiento continuo</a></li>
               <li><a href="../../representacion_estudiantil">Representación estudiantil</a></li>
               <li><a href="../../nuevo/facultad/directorio">Directorio</a></li>
            </ul>
            </li>
            </ul>
         </div>
         <!-- Departamentos -->
         <div class="btn-group">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               Departamentos<span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
               <li><a href="http://www.humanas.unal.edu.co/antropologia/">Antropolog&iacute;a</a></li>
               <li><a href="http://www.humanas.unal.edu.co/filosofia/">Filosof&iacute;a</a></li>
               <li><a href="http://www.humanas.unal.edu.co/geografia/">Geograf&iacute;a</a></li>
               <li><a href="http://www.humanas.unal.edu.co/historia/">Historia</a></li>
               <li><a href="http://www.humanas.unal.edu.co/lenguas/">Lenguas Extranjeras</a></li>
               <li><a href="http://www.humanas.unal.edu.co/linguistica/">Ling&uuml;&iacute;stica</a></li>
               <li><a href="http://www.humanas.unal.edu.co/literatura/">Literatura</a></li>
               <li><a href="http://www.humanas.unal.edu.co/psicologia/">Psicolog&iacute;a</a></li>
               <li><a href="http://www.humanas.unal.edu.co/sociologia/">Sociolog&iacute;a</a></li>
               <li><a href="http://www.humanas.unal.edu.co/tsocial/">Trabajo Social</a></li>
            </ul>
         </div>
         <!-- Pregrado -->
         <div class="btn-group">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               Pregrado<span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
               <li><a href="../../nuevo/pregrado">Pregrado</a></li>
               <li><a href="../../nuevo/facultad/areas-curriculares/filosofia-y-estudios-literarios/pregrado-filosofia">Filosof&iacute;a</a></li>
               <li><a href="../../nuevo/facultad/areas-curriculares/filosofia-y-estudios-literarios/pregrado-estudios-literarios">Estudios Literarios</a></li>
               <li><a href="../../nuevo/facultad/areas-curriculares/ciencias-del-lenguaje/pregrado-linguistica">Ling&uuml;&iacute;stica</a></li>
               <li><a href="../../nuevo/facultad/areas-curriculares/ciencias-del-lenguaje/pregrado-espanol-y-filologia-clasica">Espa&ntilde;ol y Filolog&iacute;a Cl&aacute;sica</a></li>
               <li><a href="../../nuevo/facultad/areas-curriculares/ciencias-del-lenguaje/pregrado-filologia-e-idiomas-ingles-frances-aleman">Filolog&iacute;a e Idiomas</a></li>
               <li><a href="../../nuevo/facultad/areas-curriculares/trabajo-social-y-estudios-sociales-interisciplinarios/pregrado-trabajo-social/">Trabajo Social</a></li>
               <li><a href="../../nuevo/facultad/areas-curriculares/antropologia-sociologia-y-estudios-de-genero/pregrado-antropologia">Antropolog&iacute;a</a></li>
               <li><a href="../../nuevo/facultad/areas-curriculares/antropologia-sociologia-y-estudios-de-genero/pregrado-sociologia">Sociolog&iacute;a</a></li>
               <li><a href="../../nuevo/facultad/areas-curriculares/geografia-e-historia/pregrado-geografia">Geograf&iacute;a</a></li>
               <li><a href="../../nuevo/facultad/areas-curriculares/geografia-e-historia/pregrado-historia">Historia</a></li>
               <li><a href="../../nuevo/facultad/areas-curriculares/psicologia-y-psicoanalisis/pregrado-psicologia/">Psicolog&iacute;a</a></li>
            </ul>
         </div>
         <!-- Posgradi -->
         <div class="btn-group">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               Posgrado<span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
               <li><a href="../../nuevo/posgrado">Posgrado</a></li>
               <li class="dropdown-submenu">
                  <a href="../../nuevo/posgrado/especializaciones" class="dir">Especializaciones</a>
                  <ul class="dropdown-menu">
                     <!--
                        <li><a href="../../nuevo/facultad/areas-curriculares/filosofia-y-estudios-literarios/especializacion-filosofia-de-la-mente">Especializaci&oacute;n en Filosof&iacute;a de la Mente</a></li>
                        <li><a href="../../nuevo/facultad/areas-curriculares/filosofia-y-estudios-literarios/especializacion-filosofia-politica">Especializaci&oacute;n en Filosof&iacute;a Pol&iacute;tica</a></li>
                        <li><a href="../../nuevo/facultad/areas-curriculares/filosofia-y-estudios-literarios/especializacion-teoria-etica">Especializaci&oacute;n en Teor&iacute;a &Eacute;tica</a></li>
                        -->
                     <li><a href="http://www.humanas.unal.edu.co/tsocial/programas-curriculares/especializacion/especializaci-n-en-acci-n-sin-da-o-y-construcci-n-de-paz/presentaci-n/">Especializaci&oacute;n en Acci&oacute;n sin Da&ntilde;o y Construcci&oacute;n de Paz</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/geografia/programas-currriculares/posgrado/especializacion/">Especializaci&oacute;n en An&aacute;lisis Espacial</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/genero/programas-curriculares/especializacion/">Especializacion en Estudios Feministas y de G&eacute;nero</a></li>
                     <!--<li><a href="../../nuevo/facultad/areas-curriculares/antropologia-sociologia-y-estudios-de-genero/especializacion-antropologia-forense">Especializacion en Antropologia Forense</a></li>
                        -->
                  </ul>
               </li>
               <li class="dropdown-submenu">
                  <a href="../../nuevo/posgrado/maestrias" class="dir">Maestr&iacute;as</a>
                  <ul class="dropdown-menu">
                     <li><a href="http://www.humanas.unal.edu.co/filosofia/programas-curriculares/posgrado/maestria/">Maestr&iacute;a en Filosof&iacute;a</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/genero/programas-curriculares/maestria/">Maestr&iacute;a en Estudios de G&eacute;nero</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/literatura/posgrado/">Maestr&iacute;a en Estudios Literarios</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/linguistica/posgrado/">Maestr&iacute;a en Ling&uuml;&iacute;stica</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/iedu/programas-curriculares/">Maestr&iacute;a en Educaci&oacute;n</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/maestriaestudiosculturales/">Maestr&iacute;a en Estudios Culturales</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/sociologia/programas-curriculares1/maestria-en-estudios-sociales-de-la-ciencia/">Maestr&iacute;a en Estudios Sociales de la Ciencia</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/tsocial/programas-curriculares/posgrado/">Maestr&iacute;a en Trabajo Social  con &eacute;nfasis en Familia y Redes Sociales</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/geografia/programas-currriculares/posgrado/maestria/">Maestr&iacute;a en Geograf&iacute;a</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/antropologia/posgrado/maestria/">Maestr&iacute;a en Antropolog&iacute;a</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/sociologia/programas-curriculares1/maestria-en-sociologia/">Maestr&iacute;a en Sociolog&iacute;a</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/historia/programas-curriculares/maestria/">Maestr&iacute;a en Historia</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/psicologia/programas-curriculares/posgrados/maestria-en-psicologia/">Maestr&iacute;a en Psicolog&iacute;a</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/psicoanalisis/maestria/">Maestr&iacute;a en Psicoan&aacute;lisis Subjetividad y Cultura</a></li>
                     <li><a href="http://www.unal.edu.co/ieco/index.php/docencia/maestria-en-comunicacion-y-medios">Maestr&iacute;a en Comunicación y Medios</a></li>
                  </ul>
               </li>
               <li class="dropdown-submenu">
                  <a href="../../nuevo/posgrado/doctorados" class="dir">Doctorados</a>
                  <ul class="dropdown-menu">
                     <li><a href="http://www.humanas.unal.edu.co/filosofia/programas-curriculares/posgrado/doctorado/">Doctorado en Filosof&iacute;a</a></li>
                     <li><a href="../../nuevo/facultad/areas-curriculares/trabajo-social-y-estudios-sociales-interisciplinarios/doctorado-en-ciencias-humanas-y-sociales">Doctorado en Ciencias Humanas y Sociales</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/geografia/programas-currriculares/posgrado/doctorado/">Doctorado en Geograf&iacute;a</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/historia/programas-curriculares/doctorado/">Doctorado en Historia</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/antropologia/posgrado/doctorado/">Doctorado en Antropolog&iacute;a</a></li>
                     <li><a href="http://www.humanas.unal.edu.co/psicologia/programas-curriculares/posgrados/doctorado-en-psicologia/">Doctorado en Psicología</a></li>
                  </ul>
               </li>
            </ul>
         </div>
         <!-- Bienestar -->
         <div class="btn-group">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               Bienestar<span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
               <li><a href="../../bienestar/estudiantes/">Estudiantes</a></li>
               <li><a href="../../bienestar/egresados">Egresados</a></li>
               <li><a href="../../bienestar/docentes-administrativos-y-jubilados/">Docentes Administrativos y Jubilados</a></li>
               <li><a href="../../bienestar/sistema-de-informaci-n/">Sistema de  Informaci&oacute;n</a></li>
               <li><a href="../../bienestar/normatividad-y-comunidad/">Normatividad y Comunidad</a></li>
               <li><a href="../../nuevo/facultad/secretaria-academica/actas">Actas</a></li>
            </ul>
         </div>
         <!-- La Extensi&oacute;n -->
         <div class="btn-group">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               Extensi&oacute;n<span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
               <li><a href="../../peec/">Extensi&oacute;n</a></li>
               <!-- <li><a href="../../peec/convocatoria-para-presentacion-de-propuestas-de-extension-2016-2/">Convocatoria para presentación de propuestas de extensión 2016-II</a></li> -->
               <li><a href="../../peec/cursos-y-diplomados-2016-2/">Cursos y Diplomados</a></li>
               <li><a href="http://www.humanas.unal.edu.co/lenguas/extension">Cursos de idiomas y de traducción</a></li>
               <li><a href="http://www.humanas.unal.edu.co/sap/">Servicio de Atención Psicológica</a></li>
               <li><a href="../../peec/">Programa de Extensión y Educación Continua</a></li>
               <li><a href="../../peec/modalidades/">Modalidades</a></li>
               <li><a href="../../peec/productos-academicos/">Productos académicos </a></li>
               <li><a href="../../peec/practicas-y-pasantias/">Prácticas y Pasantías</a></li>
               <li><a href="../../peec/normatividad/">Normatividad</a></li>
               <li><a href="../../peec/contacto/">Contacto</a></li>
               <li><a href="../../peec/preguntas-frecuentes/">Preguntas frecuentes </a></li>
            </ul>
         </div>
         <!-- Inv -->
         <div class="btn-group">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               Investigaci&oacute;n<span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
               <li><a href="../../nuevo/facultad/investigacion/coordinacion-de-proyectos-de-investigacion/">Investigaci&oacute;n</a></li>
               <li><a href="http://www.humanas.unal.edu.co/nuevo/facultad/investigacion/coordinacion-de-proyectos-de-investigacion/grupos-de-investigacion/">Grupos de investigación</a></li>
               <li><a href="http://www.humanas.unal.edu.co/nuevo/facultad/investigacion/coordinacion-de-proyectos-de-investigacion/laboratorios/">Laboratorios</a></li>
               <li><a href="http://www.investigacion.unal.edu.co/index.php/mapa-acerca-de-vri/normas">Normatividad</a></li>
               <li><a href="http://www.humanas.unal.edu.co/nuevo/facultad/investigacion/coordinacion-de-proyectos-de-investigacion/enlaces-de-interes/">Enlaces de interés</a></li>
               <li><a href="http://www.humanas.unal.edu.co/nuevo/facultad/investigacion/coordinacion-de-proyectos-de-investigacion/contacto/">Contacto</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="buscador">
      <gcse:searchbox-only resultsurl="http://unal.edu.co/resultados-de-la-busqueda/"></gcse:searchbox-only>
   </div>
</header>
<div id="services">
   <div class="indicator">
   </div>
   <ul>
      <li>
         <img src="<%= image_url('unal/icnServEmail')%>" width="32" height="32" border="0" alt="">
         <a href="http://correo.unal.edu.co" target="_blank">
            Correo institucional
         </a>
      </li>
      <li>
         <img src="<%= image_url('unal/icnServSia')%>" width="32" height="32" border="0" alt="">
         <a href="http://www.sia.unal.edu.co" target="_blank">
            Sistema de Información Académica
         </a>
      </li>
      <li>
         <img src="<%= image_url('unal/icnServLibrary')%>" width="32" height="32" border="0" alt="">
         <a href="http://www.sinab.unal.edu.co" target="_blank">
            Bibliotecas
         </a>
      </li>
      <li>
         <img src="<%= image_url('unal/icnServCall')%>" width="32" height="32" border="0" alt="">
         <a href="http://www.humanas.unal.edu.co/nuevo/convocatorias/convocatorias-2017" target="_blank">
            Convocatorias
         </a>
      </li>
      <li>
         <img src="<%= image_url('unal/icnServSia')%>" width="32" height="32" border="0" alt="">
         <a href="http://www.humanas.unal.edu.co/nuevo/bitacora-blog" target="_blank">
            Eventos
         </a>
      </li>
      <li>
         <img src="<%= image_url('unal/icnServCall')%>" width="32" height="32" border="0" alt="">
         <a href="http://www.humanas.unal.edu.co/sap/" target="_blank">
            Servicio de Atención Psicológica SAP
         </a>
      </li>
      <li>
         <img src="<%= image_url('unal/icnServCall')%>" width="32" height="32" border="0" alt="">
         <a href="http://www.humanas.unal.edu.co/bienestar/egresados/" target="_blank">
            Egresados
         </a>
      </li>
      <li>
         <img src="<%= image_url('unal/icnServSia')%>" width="32" height="32" border="0" alt="">
         <a href="http://www.humanas.unal.edu.co/nuevo/facultad/secretaria-academica/actas" target="_blank">
            Actas
         </a>
      </li>
      <li>
         <img src="<%= image_url('unal/icnServCall')%>" width="32" height="32" border="0" alt="">
         <a href="http://www.humanas.unal.edu.co/contratacion/" target="_blank">
            Contratación
         </a>
      </li>
      <li>
         <img src="<%= image_url('unal/icnServSia')%>" width="32" height="32" border="0" alt="">
         <a href="http://www.humanas.unal.edu.co/nuevo/" >
            Inicio
         </a>
      </li>
      <li>
         <img src="<%= image_url('unal/icnServCall')%>" width="32" height="32" border="0" alt="">
         <a href="http://www.humanas.unal.edu.co/nuevo/facultad/directorio" target="_blank">
            Directorio
         </a>
      </li>
      <li>
         <img src="<%= image_url('unal/icnServSia')%>" width="32" height="32" border="0" alt="">
         <a href="http://www.humanas.unal.edu.co/peec/" target="_blank" >
            Educación continuada
         </a>
      </li>
   </ul>
</div>
<div class="home-image">
   <img src="<%= image_url('unal/img_demo')%>" width="2000" height="80" border="0" alt="">
</div>
