<!DOCTYPE html>
<html>
  <head>

    <title>Bicirun</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="shortcut icon" href="<%=image_url('unal/favicon.ico') %>" type="image/x-icon" />

  </head>

  <body class="nav-md">
    <!-- MENU -->
    <%= yield :nav %>
        <!-- Contenido -->
    <div class="container">
        <%= yield %>
        <%= javascript_include_tag 'application' %>
    </div>

    <!-- FOOTER -->
  </body>
</html>
